includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    bootstrapFiles:
        - vendor/larastan/larastan/bootstrap.php
    paths:
        - app
    level: 9
    excludePaths:
        - app/Providers/Filament
